*.nja
.idea
.cache

MANIFEST

checking/

*.py[cod]
*.so

dist
build
*.egg
*.egg-info

.ipynb_checkpoints/
.benchmarks/

.coverage

__pycache__/
.eggs/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.tox
.vscode/
