[importlinter]
root_package = poliastro
include_external_packages=True

[importlinter:contract:1]
name=poliastro.core does not import astropy.units
type=forbidden
source_modules=
    poliastro.core
# astropy.units is not supported,
# see https://github.com/seddonym/import-linter/issues/111
forbidden_modules=
    astropy
