                               <sahil.orionis@icloud.com> <38282384+aOrionis@users.noreply.github.com>
Abdul Moiz                     <abdulmoiz1906@gmail.com> <abdulmoiz1906@gmail.com>
Abhishek Anant                 <itsabhianant@gmail.com> <itsabhianant@gmail.com>
Aditya Vikram Singh            <xypnox@gmail.com> <xypnox@gmail.com>
Andrea Carballo                <andreacarballo@gmail.com> <andreacarballo@gmail.com>
Angel Ramírez Quispe           <hramirezq15@unc.edu.pe> <hramirezq15@unc.edu.pe>
Bibiana Rivadeneira            <brivareneira@protonmail.com> <brivareneira@protonmail.com>
Bibiana Rivadeneira            <brivareneira@protonmail.com> Bibo <brivadeneira@protonmail.com>
Dhruv Sondhi                   <dhruvsondhi05@gmail.com> <dhruvsondhi05@gmail.com>
Greg Lindahl                   <lindahl@pbm.com> <glindahl@cfa.harvard.edu>
Himanshu Garg                  <himanshu18337@iiitd.ac.in> Himanshu Garg <43913398+Himanshu-Garg@users.noreply.github.com>
Himanshu Garg                  <himanshu18337@iiitd.ac.in> Himanshu-Garg <himanshu18337@iiitd.ac.in>
Iago Alonso                    <deejaynof@gmail.com> <deejaynof@gmail.com>
Isabel González                <zupeiza@gmail.com> <zupeiza@gmail.com>
Ismael Jiménez                 <ijimenezm@hotmail.es> <ijimenezm@hotmail.es>
Ismael Jiménez                 <ijimenezm@hotmail.es> <ismaelJimenez@users.noreply.github.com>
Javier Tegedor                 <j.tegedor@fugro.com> <j.tegedor@fugro.com>
Javier Tegedor                 <j.tegedor@fugro.com> <javier.tegedor@spacekinetics.com>
Johana Murcia                  <84646578+JohaMR@users.noreply.github.com> JohaMR <84646578+JohaMR@users.noreply.github.com>
Jonathan Erskine               <38688728+jmerskine1@users.noreply.github.com>
Jorge Martínez Garrido         <jorge@on-orbit.dev> <ingenierodeaviones@gmail.com>
Jorge Martínez Garrido         <jorge@on-orbit.dev> Jorge Martínez <jorge@on-orbit.dev>
Jorge Martínez Garrido         <jorge@on-orbit.dev> Jorge M.G <jorge@on-orbit.dev>
Jos van 't Hof                 <josvth@gmail.com> <1447984+Josvth@users.noreply.github.com>
Juan Luis Cano Rodríguez       <hello@juanlu.space> <juanlu001@gmail.com>
Juan Luis Cano Rodríguez       <hello@juanlu.space> <Juanlu001@users.noreply.github.com>
Juan Luis Cano Rodríguez       <hello@juanlu.space> <juanlu@satellogic.com>
Juliana Nieto                  <64213327+junietoc@users.noreply.github.com> junietoc <64213327+junietoc@users.noreply.github.com>
Manuel López-Ibáñez            <2620021+MLopez-Ibanez@users.noreply.github.com> MLopez-Ibanez <2620021+MLopez-Ibanez@users.noreply.github.com>
María Eugenia Cruz             <euge672@gmail.com> <euge672@gmail.com>
Matt Rossman                   <mrossman@umass.edu> <mrossman@umass.edu>
Michael Pilosov                <consistentbayes@gmail.com> <40366263+mathematicalmichael@users.noreply.github.com>
Nickolai Belakovski            <nbelakovski@users.noreply.github.com> <nbelakovski@users.noreply.github.com>
Pablo Castro                   <pablocastrosant@gmail.com> <pablocastrosant@gmail.com>
Priyanshu Rohilla              <priyanshurohillaverma@gmail.com> <priyanshurohillaverma@gmail.com>
Radhika Jadhav                 <radhikajadhav014@gmail.com> <radhikajadhav014@gmail.com>
Rishabh Nanawati               <rishabh.nanawati7@gmail.com> <rishabh.nanawati7@gmail.com>
Ritiek Malhotra                <ritiekmalhotra123@gmail.com> <ritiekmalhotra123@gmail.com>
Sarthak Jain                   <jains8844@gmail.com> <jains8844@gmail.com>
Syed Osama Hussain             <osamahussain38@gmail.com> <osamahussain38@gmail.com>
Syed Osama Hussain             <osamahussain38@gmail.com> <37876153+Syed-Osama-Hussain@users.noreply.github.com>
Tomek Mrugalski                <tomasz@isc.org> <tomasz.mrugalski@eti.pg.edu.pl>
Tomek Mrugalski                <tomasz@isc.org> <tomaszmrugalski@users.noreply.github.com>
Tomek Mrugalski                <tomasz@isc.org> <tomasz@isc.org>
Venkitesh                      <squaredrive@gmail.com> <squaredrive@gmail.com>
Yash Gondhalekar               <yashgondhalekar567@gmail.com> <yashgondhalekar567@gmail.com>
Yash Gondhalekar               <yashgondhalekar567@gmail.com> Yash-10 <68844397+Yash-10@users.noreply.github.com>
Zac Miller                     <zmiller1@gmail.com> <jzmiller1@users.noreply.github.com>
Zeke Sikelianos                <zeke@sikelianos.com> <5767468+zkl2@users.noreply.github.com>
